body{
    background-color: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: auto;
    font-family: sans-serif;
}

.parent-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.child-element{
    text-align: center;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.description{
    width: fit-content;
    margin: 0 auto 20px auto;
    text-align: left;
    font-size: 14px;
    color: rgb(5, 5, 5);
}

.input-area{
    margin-bottom: 20px;
}

input {
    padding: 5px;
    font-size: 16px;
    width: 150px;
    text-transform: lowercase;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

.result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.result-list li {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.result-list span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 4px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.correct-pos {
    background-color: rgb(0, 216, 0);
}

.correct-cha{
    background-color: rgb(216, 216, 0);
}

.wrong-cha{
    background-color: rgb(178, 178, 178);
}
